@{
    ViewData["Title"] = "Home Page";
}

<div >
    <h1 class="display-4">Welcome</h1>

    <h3>Telerik Ajax Grid Demo</h3>

    <p>
        Demo telerik kendo grid project that fully uses Ajax CRUD, on a sizeable 700 row dataset, uses minimal telerik css/js and only one third party .net core version of an open sourced telerik serverside API for dynamic paging/filtering and sorting using Linq.
    </p>

    <p>
        Rather than including the full monolithic kendo ui framework the samples use a minimal js file built using a custom telerik build file see: <a href="https://www.telerik.com/download/custom-download">https://www.telerik.com/download/custom-download</a>.
        This example also used the Telerik Date Time picker instead of the date picker for grid filtering so it must be included in addition to the standard grid dependencies.
        <img src="~/builder.png" />
    </p>

    <h3>Telerik Documentation</h3>

    <p>
        Telerik provides their own demo pages here
        <a href="https://demos.telerik.com/kendo-ui/grid/index">https://demos.telerik.com/kendo-ui/grid/index</a>
    </p>

    <div>
        The overview of the grid with examples can be found here
        <a href="https://docs.telerik.com/kendo-ui/controls/data-management/grid/overview">https://docs.telerik.com/kendo-ui/controls/data-management/grid/overview</a>
    </div>

    <p>
        The kendo DataSource overview can be found here <a href="https://docs.telerik.com/kendo-ui/framework/datasource/overview">https://docs.telerik.com/kendo-ui/framework/datasource/overview</a>
    </p>

    <p>
        The API documentation for the Grid can be found here
        <a href="https://docs.telerik.com/kendo-ui/api/javascript/ui/grid">https://docs.telerik.com/kendo-ui/api/javascript/ui/grid</a>
    </p>

    <p>
        The kendo DataSource is a key component used by the grid
        <a href="https://docs.telerik.com/kendo-ui/api/javascript/data/datasource">https://docs.telerik.com/kendo-ui/api/javascript/data/datasource</a>
    </p>

    <h3> Grid Dynamic Filtering and Paging</h3>

    <p>
        <a href="https://www.telerik.com/blogs/kendo-ui-open-sources-dynamic-linq-helpers">https://www.telerik.com/blogs/kendo-ui-open-sources-dynamic-linq-helpers</a>
        <br/>
        <a href=" https://github.com/linmasaki/Kendo.DynamicLinqCore">https://github.com/linmasaki/Kendo.DynamicLinqCore</a>
    </p>

    <h3>Theming the grid</h3>

    <p>
        Telerik Sass Theme Builder <a href="https://themebuilder.telerik.com/kendo-ui" >https://themebuilder.telerik.com/kendo-ui</a>
    </p>

</div>

